[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
manim = "==0.18.1"
pycairo = "==1.26.0"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
